<section class="step-wizard mb-4">
  <ul class="step-wizard-list">
    <li class="step-wizard-item  current-item">
      <span class="progress-count">1</span>
      <span class="progress-label">Información del afectado</span>
    </li>
    <li class="step-wizard-item">
      <span class="progress-count">2</span>
      <span class="progress-label">Información del denunciado</span>
    </li>
    <li class="step-wizard-item">
      <span class="progress-count">3</span>
      <span class="progress-label">Denuncia</span>
    </li>
    <li class="step-wizard-item">
      <span class="progress-count">4</span>
      <span class="progress-label">Fin</span>
    </li>
  </ul>
</section>
