<div class="container">
  <app-stepper></app-stepper>
  <div class="d-flex justify-content-center">
    <form>
      <div class="row mb-3">
        <div class="alert alert-success" role="alert">
          <h4 class="alert-heading">Tenga en cuenta que!</h4>
          <p>La información solicitada debe ser veridica y corresponder con la información de contacto de los afectados<br> los cuales se desea cobijar bajo la medida de protección.</p>
          <hr>
          <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md">
          <label for="firstName" class="form-label">Primer nombre</label>
          <input type="text" id="firstName" class="form-control" placeholder="" aria-label="Primer nombre">
        </div>
        <div class="col-md">
          <label for="middleName" class="form-label">Segundo nombre</label>
          <input type="text" id="middleName" class="form-control" placeholder="" aria-label="Segundo nombre">
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md">
          <label for="lastName" class="form-label">Primer apellido</label>
          <input type="text" id="lastName" class="form-control" placeholder="" aria-label="Primer apellido">
        </div>
        <div class="col-md">
          <label for="secondSurname" class="form-label">Segundo apellido</label>
          <input type="text" id="secondSurname" class="form-control" placeholder="" aria-label="Segundo apellido">
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md">
          <label for="firstName" class="form-label">Celular</label>
          <input type="text" id="cellphone" class="form-control" placeholder="" aria-label="Celular">
        </div>
        <div class="col-md">
          <label for="middleName" class="form-label">Correo electronico</label>
          <input type="text" id="email" class="form-control" placeholder="" aria-label="Correo electronico">
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md">
          <label for="cityDepartment" class="form-label">Lugar de nacimiento</label>
          <select id="cityDepartment" class="form-select">
            <option>Seleccione una opción...</option>
            <option>Duitama, Boyacá</option>
            <option>Sogamoso, Boyacá</option>
          </select>
        </div>
        <div class="col-md">
          <label for="birthday" class="form-label">Fecha de nacimiento</label>
          <input type="date" id="birthday" class="form-control" placeholder="" aria-label="Fecha de nacimiento">
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md">
          <label for="studyLevel" class="form-label">Nivel de estudio</label>
          <select id="studyLevel" class="form-select">
            <option>Seleccione una opción...</option>
            <option>Primaria</option>
            <option>Bachillerato</option>
            <option>Universitario</option>
            <option>Postgrado</option>
            <option>Doctorado</option>
          </select>
        </div>
        <div class="col-md">
          <label for="ocupation" class="form-label">Ocupación</label>
          <select id="ocupation" class="form-select">
            <option>Seleccione una opción...</option>
            <option>Duitama, Boyacá</option>
            <option>Sogamoso, Boyacá</option>
          </select>
        </div>
      </div>
      <div class="row mb-5">
        <div class="">
          <label for="address" class="form-label">Dirección de residencia</label>
          <input type="text" id="address" class="form-control" placeholder="" aria-label="Dirección de residencia">
        </div>
      </div>
      <div class="row justify-content-center mb-3">
        <button class="btn btn-dark" style="width: 150px">Continuar</button>
      </div>
    </form>
  </div>
</div>


