<div class="container">
  <div class="card mx-auto mp-card d-flex">
    <div class="card-body">
      <h5 class="card-title text-center mb-4">Solicitud medida de protección</h5>
      <form [formGroup]="startRequestForm">
        <div class="mb-3">
          <label class="form-label">Tipo de solicitud</label>
          <select  [formControlName]="'type'" class="form-select">
            <option value="RT-01">Solicitud a nombre propio</option>
            <option value="RT-02">Solicitud a nombre de un tercero</option>
          </select>
        </div>
        <div class="mb-4">
          <label for="document-number" class="form-label">Numero de documento</label>
          <input
            type="text"
            class="form-control"
            id="document-number"
          >
        </div>
        <div class="mb-4">
          <label for="contact-info" class="form-label">Información de contacto</label>
          <input
            type="text"
            class="form-control"
            id="contact-info"
            [ngClass]="(startRequestForm.get('contactInfo')?.touched || startRequestForm.get('contactInfo')?.dirty) &&
              startRequestForm.get('contactInfo')?.errors ? 'is-invalid': ''"
            [formControlName]="'contactInfo'"
          >
          <div class="form-text">Correo electronico ó celular del solicitante</div>
          <div class="invalid-feedback">
            <p *ngIf="startRequestForm.get('contactInfo')?.hasError('required')">
              Campo obligatorio
            </p>
          </div>
        </div>
        <div class="row justify-content-center mb-3">
          <button
            class="btn btn-dark"
            style="width: 150px"
            [disabled]="startRequestForm.invalid"
            (click)="continue()"
          >
            <span *ngIf="loadingFlag" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Comenzar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
