<div class="container">
  <div class="card mx-auto mp-card d-flex">
    <div class="card-body">
      <h5 class="card-title text-center mb-4">Solicitud medida de protección</h5>
      <form [formGroup]="startRequestForm">
        <div class="mb-3">
          <label class="form-label">Modalidad del solicitante</label>
          <select
            [formControlName]="'applicantModality'" class="form-select"
            [ngClass]="{ 'is-invalid': controls['applicantModality'].errors && controls['applicantModality']?.touched }"
          >
            <option selected value="">Seleccione una opción...</option>
            <option value="TP">A título personal</option>
            <option value="TP">A favor de un tercero</option>
          </select>
          <div *ngIf="controls['applicantModality'].errors" class="invalid-feedback">
            Campo requerido
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label">Tipo de documento</label>
          <select
            [formControlName]="'documentType'" class="form-select"
            [ngClass]="{ 'is-invalid': controls['documentType'].errors && controls['documentType']?.touched }"
          >
            <option selected value="">Seleccione una opción...</option>
            <option value="CC">Cedula de ciudadania</option>
            <option value="CE">Cedula de extranjeria</option>
            <option value="TI">Tarjeta de identidad</option>
            <option value="O">Otro</option>
          </select>
          <div *ngIf="controls['documentType'].errors" class="invalid-feedback">
            Campo requerido
          </div>
        </div>
        <div class="mb-3">
          <label for="document-number" class="form-label">Numero de documento</label>
          <input
            type="text"
            class="form-control"
            id="document-number"
            [formControlName]="'documentNumber'"
            [ngClass]="{ 'is-invalid': controls['documentNumber'].errors && controls['documentNumber']?.touched }"
          >
          <div *ngIf="controls['documentNumber'].errors" class="invalid-feedback">
            <div>{{ getErrorDescription('documentNumber') }}</div>
          </div>
        </div>
        <div class="form-check mb-4">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            Autorizo el manejo de mis datos personales ...
          </label>
        </div>
        <div class="row justify-content-center mb-3">
          <button
            class="btn btn-dark"
            style="width: 150px"
            [disabled]="startRequestForm.invalid"
            (click)="continue()"
          >
            Comenzar
            <span *ngIf="loadingFlag" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
